<header class="header-4">
  <div class="branding">
    <a href="..." class="nav-link">
      <clr-icon shape="lightbulb" class="is-solid"></clr-icon>
      <span class="title">Bruno Dutra</span>
    </a>
  </div>
  <div class="search">
    <label for="search_input">
    </label>&nbsp;&nbsp;
    <p-autoComplete [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" [(ngModel)]="texts"
      [suggestions]="results" (completeMethod)="search($event)" placeholder="Buscar...">
      <ng-template let-brand pTemplate="item">
        <div class="ui-helper-clearfix">
          <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{brand}}</div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  <div class="header-actions">
      <clr-dropdown>
          <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
              {{cashBack | currency:'BRL':true}}
          </button>
      </clr-dropdown>
  </div>
</header>
