<div class="alert alert-app-level" *ngIf=false>
    Opa!
</div>
<div class="progress loop" *ngIf="false" ><progress></progress></div>
<header class="header-4">
  <div class="branding">
    <a href="/" class="nav-link">
      <clr-icon shape="lightbulb" class="is-solid"></clr-icon>
      <span class="title">
        {{usuario.full_name}}
      </span>
    </a>
  </div>
  <div class="search">
    <div class="header-nav">
      <a routerLink="/revendedores" routerLinkActive="active" class="nav-link nav-text">Revendedores</a>
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link nav-text">Minhas Compras</a>
    </div>
  </div>
  <div class="header-actions">
      <clr-dropdown>
          <button class="nav-text" clrDropdownTrigger aria-label="open user profile">

          </button>
      </clr-dropdown>
  </div>
</header>

